html{
	font-size: 24px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	background-image: url("/assets/paper.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	min-height: 100%;
}
h1{
	text-align: center;
	color: rgb(65, 65, 65);
}
.board {
	display: flex;
	flex-direction: column;
	width: 40vw;
	height: 40vw;
	max-width: 40vw;
	margin: auto;
}

.row {
	width: 100%;
	flex-grow: 1;
	background-color: transparent;
	border-bottom: 5px rgb(65, 65, 65) solid;
	display: flex;
	flex-direction: row;
}

.row:last-child {
	border: none;

}
  
.cell {
	flex-grow: 1;
	border-right: 5px rgb(65, 65, 65) solid;
	cursor: pointer;
	overflow: hidden;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.cell:last-child{
	border: none;
}

.cell.circle {
	background-image: url("/assets/o.png");
	cursor: not-allowed;
}

.cell.cross {
	background-image: url("/assets/x.png");
	cursor: not-allowed;
}

#reset {
	display: flex;
	justify-content: center;
}

#overlay{
	position: fixed;
	display: none;
	width: 100%;
	min-height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.7); 
  	z-index: 2; 
}

#result {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 40px;
	color: white;
	margin-top: 20vh;
	
}
.replay{
	display: flex;
	justify-content: center;
}
.disabled{
	pointer-events: none; 
}


